.about-container {
  margin-top: 120px;
  max-width: 100rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 5rem;
  p {
    margin-top: 5rem;
    font-size: 2.4rem;
  }
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.text-content {
  flex: 1;
  padding-right: 20px; /* Add some space between the text and the image */
}

.image-content {
  flex: 1;
  img {
    width: 100%;
    height: auto;
  }
}

.about-container {
  padding: 20px;
  /* Any additional styling for the container */
}

.intro-paragraph {
  text-align: left; /* Aligns text to the left */
  margin-left: 0;  /* Adjusts the left margin if necessary */
  margin-right: auto; /* Optional: aligns the paragraph to the left with auto margins on the right */
  margin-top: 10px; /* Optional: adjust top margin */
  margin-bottom: 10px; /* Optional: adjust bottom margin */
}
 